@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg-color;
  position: relative;
}

// .body {
//   min-height: 100vh;
//   position: fixed;
//   top: 0;
//   width: 100%;
// }
