// base colors
$black: black;
$white: white;
$light-gray: lightgray;
$gray: gray;

// custom colors
$main-bg-color: #e5e5e5;
$tags-bg-color: #fcfdfd;
$tags-title-color: #181818;
$tag-bg-color: #e9f0f8;
$connections-color: #212121;
$connections-border-color: #dfdfdf;
$blue-color: #00acff;
$placeholder-color: #666666;
