.notFound {
  margin-top: 3rem;
  background-color: $white;
  border-radius: 18px;
  font-family: IranYekan;
  width: 50%;
  margin: 0 auto;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
