.navbar {
  direction: rtl;
  background-color: $white;
  display: flex;
  align-items: stretch;
  // padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 20px 5px $light-gray;

  &__logo {
    flex-basis: 30%;
    border-left: 1px solid rgba(0, 0, 0, 0.28);
    text-align: center;
    padding: 0.5rem;

    img {
      height: 2rem;
    }
  }

  &__pages {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-basis: 15%;
    padding-right: 3rem;

    img {
      height: 1.3rem;
    }

    &_container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &-active {
        border-bottom: 2px solid $blue-color;
      }
    }

    &-notification-count {
      background-color: red;
      @include typographyStyle(0.7rem, normal, normal, $white);
      text-decoration: none;
      padding: 3px;
      border-radius: 50%;
      font-family: Roboto;
      position: absolute;
      top: 5px;
      right: -10px;
    }
  }
}
